.card {
  padding: 0.5em 1em;
  margin-bottom: 1em;
}
img {
  width: 100%;
}

.box {
  padding-top: 20px;
  padding-bottom: 20px;
}
.bg-green {
  background: green;
}
.bg-green p {
  color: #fff;
  margin: 10px 0 0 0;
}